
* {
  line-height: 1.5;
  color: black;
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
.navs{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
  height:10vh ;

  width: 80%;
  margin: 20px auto;
  box-shadow: 3px 2px 2px rgba(48, 46, 46,0.5);
  border: 1px solid rgb(226, 90, 90);
  border-radius: 5px;
  
}
.nav-list{
  width: 20%;
  text-align: center;
  font-size: 1.5rem;
  /* font-size: 1.5rem;     */
}
.nav-list h1{
  font-weight: 600;
  color: rgb(104, 51, 51);
}


.card-section{
  margin-top:.5rem ;
  padding: 1rem;
  width: 80%;
  margin: auto;
  border: 1px solid rgb(226, 90, 90);
}

.card{
  width: 50%;
  margin: 1rem auto;
  box-shadow: 3px 2px 2px rgba(48, 46, 46,0.5);
  border: 1px solid rgb(226, 90, 90);
  border-radius: 5px;
  /* height: 300px; */

}

.card-top{
  display: flex;
  justify-content: space-between;
  height: 20%;
  width: 100%;
  padding: 10px;
  align-items: center;
}

.card-middle{
  height: 50%;
  width: 100%;
  border: none;

}

.card-bottom{
  padding: 10px;
  height: auto;
  width: 100%;

}
.card-b-top{
  display: flex;
  justify-content:space-between ;
}
.right{
  width: 40%;
  display: flex;
  align-items: flex-start;
  justify-content: start;
}



